*{
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,245);
}
ul{
    list-style-type: none;
    background-color: #ffffff;
}
.image_title{
    float: left;
    border: none;
}
.news_info{
    float: left;
    margin-left: 400px ;
    width: 400px;
}
.news_info li{
    margin-top: 20px;
    background-color: #ffffff;
}
.news_title{
    font-size: 20px;
    font-family:  Microsoft Yahei;
    color: #333333;
}
.news_link,.news_link:hover {
    color: #333333;
    text-decoration: none;
    font-family: Microsoft Yahei;

}

#details_container{
    width:1070px;
    height: 400px;
    margin:0 auto;
    background-color: #ffffff;
}
#details_container:hover {
    box-shadow: 6px 6px 6px #ccc;
    z-index:9999;
}
.div_1{
    height: 50px;
    width: 100%;
}
.text{
    float: top;
}

/*实现文字渐入*/
/*#showGo{*/
/*     display:none;*/
/* }*/

/*#header{*/
/*    background:url("../images/event/banner.jpg");*/
/*    background-size: cover;*/
/*    width:1350px;*/
/*    height:611px;*/
/*}*/
/*.text{*/
/*    width:300px;*/
/*    height:200px;*/
/*    font-family: "Microsoft YaHei";*/
/*    background-color: #ffffff;*/
/*}*/