@charset "utf-8";
.nav_box {
	width: 200px;
	height: 100%;
	display: block;
	border-right: 1px solid #e6e6e6;
	background: #fff;
}

.nav_box .nav {
	width: 100%;
	font-size: 16px;
}

.nav_box .nav li,
.left_nav_name {
	cursor: pointer;
}

.nav_box .nav li em {
	width: 100%;
	height: 100%;
	display: block;
}

.nav_box .nav .nav_ul {
	display: none;
	padding: 0;
}

.nav_box .nav>li>ul.nav_ul {
	display: block;
}

.nav_box .nav .level0 {
	display: none;
}

.left_nav_name,
.nav_li {
	height: 40px;
	line-height: 40px;
	color: #333;
	padding: 0 30px;
	position: relative;
}

.left_nav_name:before {
	content: "";
	height: 5px;
	display: inline-block;
	border: 8px solid;
	width: 0;
	height: 0;
    transition: transform .5s;
	border-color: transparent transparent transparent #333;
	position: absolute;
	right: 0;
	top: 10px;
}

.left_nav_name.nav_open:before {
	top: 15px;
	right: 5px;
	border-color: #333 transparent transparent transparent;
}

.nav_open+.nav_ul li.nav_li_open,
.left_nav_name:hover,
.nav_li:hover {
	background: #01AAED;
	color: #fff;
}

.left_nav_name:hover:before {
	border-color: transparent transparent transparent #FEFFFF;
}

.left_nav_name:hover.nav_open:before {
	border-color: #FEFFFF transparent transparent transparent;
}

.nav_box .level2 em {
	padding-left: 10px;
}

.nav_box .level3 em {
	padding-left: 20px;
}

.nav_box .level4 em {
	padding-left: 30px;
}

.nav_box .level5 em {
	padding-left: 40px;
}